<h1>Questions</h1>
<%= @quote.quote %>
<%= render "new" %>

<div class="questions">
  <% @questions.reverse.each do |question| %>
    <li id='<%= question.id%>'>
      <strong><%= link_to question.title, question_path(question) %></strong>-
      <%= question.content %>
      <%= button_tag 'Delete', class: 'delete_button'%>
      <%= button_to 'Edit', edit_question_path(question), method: :get %>
      Total Votes:<span class="total_votes"><%= question.votes %></span>
      <%= button_tag 'upvote', class: 'upvote' %>
      <%= button_tag 'downvote', class: 'downvote'%>
    </li>
  <% end %>
</div>

<script type="text/x-handlebars-template" class="question_template">
    <li id = {{question.id}}>
    <strong><a href="questions/{{question.id}}">{{question.title}}</a></strong>
    {{question.content}}
    <button class="delete_button">Delete</button>
    <button class="edit_button">Edit</button>
    Total Votes:<span class="total_votes"> {{question.votes}} </span>
    <button type="button" class="upvote">Upvote</button>
    <button type="button" class="downvote">Downvote</button>
  </li>
</script>
