<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  Total Votes:<%= @question.votes %>
</p>

<div class="answers">
<% @answers.reverse.each do |answer|%>
  <li id="<%= answer.id %>">
    <strong><%= link_to answer.title, edit_question_answer_path(@question, answer)%></strong>-
    <%= answer.content %>
    <%= button_tag 'Delete', class: 'delete_button'%>
    <%= button_to 'Edit', edit_question_answer_path(@question, answer), method: :get %>
    Total Votes:  <span class="total_votes"><%= answer.votes %></span>
    <%= button_tag 'upvote', class: 'upvote' %>
    <%= button_tag 'downvote', class: 'downvote'%>
  </li>
<% end %>
</div>

<%= render "answers/new"%>

<%= link_to 'Back', questions_path %>

<script type="text/x-handlebars-template" class="answer_template">
   <li id = {{answer.id}}>
    <strong>{{answer.title}}</strong> -
    {{answer.content}}
    <button class="delete_button">Delete</button>
    <button class="edit_button">Edit</button>
    Total Votes:<span class="total_votes"> {{answer.votes}} </span>
    <button type="button" class='upvote'>Upvote</button>
    <button type="button" class='downvote'>Downvote</button>
  </li>
</script>
