<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  Total Votes:<%= @question.votes %>
</p>
<%= render "answers/new"%>
<div class="answers">
<%  @answers.each do |answer|%>
  <li id="<%= answer.id %>">
    <strong><%= answer.title %></strong>-
    <%= answer.content %>
    <%= button_tag 'Delete'%>
    <%= button_tag 'Edit'%>
    Total Votes:  <span class="total_votes"><%= answer.votes %></span>
      <%= button_tag 'upvote', :class => "upvote vote answer"%>
      <%= button_tag 'downvote', :class => "downvote vote answer"%>
  </li>
<% end %>
</div>
<%= link_to 'Back', questions_path %>

<script type="text/x-handlebars-template" class="answer_template">
  <div id = {{answer.id}}>
    {{answer.title}}
    {{answer.content}}
    <div class="total_votes"> {{answer.votes}} </div>
    <button type="button" class="upvote vote answer">Upvote</button>
    <button type="button" class="downvote vote answer">Downvote</button>
  </div>
</script>
