<%= form_for [@question, @question.answers.build], :html => {:class => "answer"} do |f| %>
  <%= hidden_field_tag :question_id, @question.id %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit :class => 'answer new_form'%>
  </p>
<% end %>
